.blog-posts .blog-thumb img {
    width: 28%;
    overflow: hidden;
}

.call-to-action .main-content {
    padding: 40px;
    /* background-image: url(../images/cta-bg.jpg); */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}